body{
    font-family: 'Montserrat', sans-serif;
}
/* title section */
#title{
    background-color: #ff4c68;
}
h1{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}
button{
    margin: 5% 1%;
    
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-links{
    font-weight: 1.2rem;
}
.container-fluid{
    padding: 3% 15% 7%;
    overflow: hidden;
}

.top-img-frame{
    height: 25em;
}
.top-img{
    width: 80%;
    /* transform: rotate(25deg) scale(0.75) translate(0%, -15%); */
    transform: rotate(25deg) ;
    /* position: absolute; */
    /* z-index: -1; */
}


/* features section*/
#features{
    padding: 7% 15%;
    background-color: #ffffff;
    /* position: relative;
    z-index: 1; */
}
.featues-block{
    text-align: center;
    padding: 5%;
}
.features-icon{
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.features-icon:hover{
    color: #ff4c68;
}
.features-title{
    font-weight: bold;
    font-size: 1.3rem;
    /* line-height: 1.5; */
}
.features-text{
    color:#8f8f8f ;
}

/* testimonials section */
#testimonials{
    /* padding: 7% 15%; */
    text-align: center;
    background-color: #ef8172;
    color: #ffffff;
}

.carousel-item{
    padding: 7% 15% 
}
button{
    margin: 0;
}
.carousel-indicators [data-bs-target]{
    width:12px;
    height: 12px;
    border-radius: 100%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press section */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    padding: 20px 20px 50px;
}
/* Price section */
#pricing{
    padding: 7% 10%;
    text-align: center;
}
.row{
    padding: 7% 0%;
}
.col{
    padding-left: 5%;
    padding-right: 5%;
}

/* Call to Action  */
#cta{
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #ffffff;
}
h3{
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .top-img{
        position: static;
        transform: rotate(0);
    }
}