/* common tag */
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}
h1, h2, h3, h4, h5, h6{
    font-weight: 900;
}
p{
    color: #8f8f8f;
}
/* common class */
.container-fluid{
    padding: 7% 15%;
}
.dl-btn{
    margin: 1% 1%;
}
.big-haeding{
    font-size: 3.5rem;
    line-height: 1.5;
}

/* section */
.colored-section{
    background-color: #ff4c68;
    color: #ffffff;
}
.light{
    background-color: #ef8172;
    /* color: #ffffff; */
}

.white-section{
    background-color: #ffffff;
}

/* title section */
#title .container-fluid{
    text-align: left;
    padding: 3% 15% 7%;
    overflow: hidden;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-links{
    font-weight: 1.2rem;
}

.top-img-frame{
    height: 25em;
}
.top-img{
    width: 80%;
    /* transform: rotate(25deg) scale(0.75) translate(0%, -15%); */
    transform: rotate(25deg) ;
    /* position: absolute; */
    /* z-index: -1; */
}


/* features section*/
.featues-block{
    padding: 5%;
}
.features-icon{
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.features-icon:hover{
    color: #ff4c68;
}
.features-title{
    font-size: 1.3rem;
    /* line-height: 1.5; */
}
.features-text{
    color:#8f8f8f ;
}

/* testimonials section */
button{
    margin: 0;
}
.carousel-indicators [data-bs-target]{
    width:12px;
    height: 12px;
    border-radius: 100%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press section */
.press-logo{
    width: 15%;
    padding: 20px 20px 50px;
}
/* Price section */

.row{
    padding: 7% 0%;
}
.col{
    padding-left: 5%;
    padding-right: 5%;
}

/* Call to Action  */

/* footer section */
.footer-icon{
    margin: 2% 1%;
}
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .top-img{
        position: static;
        transform: rotate(0);
    }
}